@page
@using Microsoft.AspNetCore.Authorization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Pokeee.Permissions
@using Pokeee.Web.Pages.Trainers
@using Pokeee.Web.Menus
@using Microsoft.AspNetCore.Mvc.Localization
@using Pokeee.Localization
@inject IHtmlLocalizer<PokeeeResource> L
@inject IAuthorizationService Authorization
@model IndexModel
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["Trainers"].Value;
    PageLayout.Content.MenuItemName = PokeeeMenus.Trainers;
}

@section scripts
{
    <abp-script src="/Pages/Trainers/index.js" />
}

@section content_toolbar {
    @if (await Authorization.IsGrantedAsync(PokeeePermissions.Trainers.Create))
    {
        <abp-button id="NewTrainerButton" text="@L["NewTrainer"].Value" icon="plus" button-type="Primary" />
    }
}

<abp-card>
    <abp-card-body>
		<abp-row class="mb-3">
            <abp-column size-md="_12">
                <form id="SearchForm" autocomplete="off">
                    <div class="input-group">
                        <input class="form-control page-search-filter-text" id="FilterText" placeholder="@L["Search"]"/>
                        <abp-button button-type="Primary" type="submit" icon="search"/>
                    </div>
                </form>
            </abp-column>
            <abp-column size-md="_12" class="mt-3">
                <a href="javascript:;" id="AdvancedFilterSectionToggler" class="text-decoration-none">@L["SeeAdvancedFilters"]</a>
            </abp-column>
        </abp-row>

        <abp-row id="AdvancedFilterSection" style="display: none;">
            <abp-column size="_3">
                <abp-input asp-for="NameFilter" label="@L["Name"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-select asp-for="PokemonIdFilter" label="@L["Pokemon"].Value" />
            </abp-column>
        </abp-row>

        <abp-table striped-rows="true" id="TrainersTable">
            <thead>
				<tr>
					<th >@L["Actions"]</th>
					<th >@L["Name"]</th>
					<th>@L["Pokemon"]</th>
				</tr>
            </thead>
        </abp-table>
    </abp-card-body>
</abp-card>